---
import Navigation from "../components/Navigation.astro";
import BlogPost from "../components/BlogPost.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={SITE_TITLE} />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={SITE_TITLE} />
    <meta property="og:description" content={SITE_DESCRIPTION} />
	<meta property="og:url" content={Astro.url} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={SITE_TITLE} />
    <meta property="twitter:description" content={SITE_DESCRIPTION} />
    <title>Home</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body
    ><center class="py-4">
      <Navigation />
    </center>
    <br />
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          date={post.frontmatter.pubDate.slice(0, 10)}
        />
      ))
    }
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
