---
const { frontmatter } = Astro.props;
---

<html>
  <head><title>{frontmatter.title}</title></head>
  <body>
    <div>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.pubDate.slice(0, 10)}</p>
      <img src={frontmatter.image} alt={frontmatter.title} width="300" />
      <p>{frontmatter.description}</p>
      <slot />
    </div>
  </body>
</html>
